@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
h1 {
    font-size: 80px;
    color: #ff0000;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Lato', sans-serif;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background: #ffffff;
}

.container__cards{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 300px;
    margin: 10px;
    transition: all 300ms;
}

.card:hover{
    width: 350px;
}

.card .cover{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.card .cover img{
    width: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
    transition: all 400ms;
}

.card:hover .cover img{
    top: 0px;
    filter: none;
}

.card .img__back{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}

.card:nth-of-type(1) .img__back{
    background-image: url(../images/bg1.jpg);
}

.card:nth-of-type(2) .img__back{
    background-image: url(../images/bg1.jpg);
}

.card:nth-of-type(3) .img__back{
    background-image: url(../images/bg1.jpg);
}
.card:nth-of-type(4) .img__back{
    background-image: url(../images/bg1.jpg);
}
.card:nth-of-type(5) .img__back{
    background-image: url(../images/bg1.jpg);
}
.card:nth-of-type(6) .img__back{
    background-image: url(../images/bg1.jpg);
}
.card:hover .img__back{
    bottom: -40px;
}

.card .description{
    background: white;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}

.card:hover .description{
    padding: 40px;
}

.card .description h2{
    margin-top: 10px;
}

.card .description p{
    margin-top: 10px;
}

.card .description input{
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #ff0000;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.card .description input:hover{
    background: #0d000c;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
    height: 50px;
}

#logoutp {
    width: 90px;
    height: 30px;
}
.navbar img {
    height: 30px;
    margin-right: 10px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
}

/* Estilos para el navbar con scroll */
.navbar-scrolled {
    display: none; /* Ocultamos el navbar con scroll por defecto */
    position: fixed; /* Hace que el navbar se mantenga en la parte superior */
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    height: 50px;
    padding: 10px;
    z-index: 999; /* Asegura que el navbar esté por encima de otros elementos */
    justify-content: space-between; 
}

.navbar-scrolled img {
    height: 30px;
    margin-right: 0; 
    margin-left: 10px; 
}

.navbar-scrolled ul {
    display: flex;
    gap: 20px;
    margin-right: 10px; 
}
.navbar-scrolled ul li a {
    font-size: 19px;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

.navbar-scrolled ul li a:hover {
    background-color: red;
}

.menu-text {
    margin-right: 10px;
}

.menu-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.presentation {
    position: relative;
}

.presentation img {
    width: 100%;
}

.title-box {
    position: absolute;
    top: 500px; /* Ajustamos la posición vertical para que esté arriba */
    left: 20px; /* Ajustamos la posición horizontal para que esté a la izquierda */
   
    color: white;
}

.title-rectangle {
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
}

.subtitle-rectangle {
    background-color: #FF0000;
    padding: 10px;
    padding: 10px;
    border-radius: 5px;
  
}

.title,
.subtitle {
    margin: 0;
    font-size: 30px; /* Ajustamos el tamaño de la letra */
    font-weight: bold;
}
/* Estilos generales del footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
    width: 100%;
    font-family: Arial, sans-serif;
}

/* Estilos para las columnas del footer */
.footer-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Añadido para centrar los elementos en cada columna */
}

/* Estilos para el logo del footer */
.footer-logo {
    width: 80px;
}

/* Estilos para el título del footer */
.footer-title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center; /* Añadido para centrar el título */
}

/* Estilos para los iconos del footer */
.footer-icon {
    width: 20px;
    margin-right: 10px;
}

/* Estilos para las secciones del footer */
.footer-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-section-content {
    flex: 1;
}

/* Estilos para el título de las secciones del footer */
.footer-section-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center; /* Añadido para centrar el título */
}

/* Estilos para el texto de las secciones del footer */
.footer-section-text {
    font-size: 14px;
    text-align: center; /* Añadido para centrar el texto */
}

/* Estilos para la línea blanca */
.footer-divider {
    border-top: 1px solid #fff;
    
}

.footer-social-icons {
    display: flex;
    justify-content: center; /* Añadido para centrar los iconos */
}

.social-icon {
    margin-right: 10px;
    width: 30px;
}

.social-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
